
.data/
.sample/
.vscode/
.idea/
.venv/
*cache*/
.env
.ipynb_checkpoints
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
site_build
venv
docs.zip
archive.zip
.DS_Store
src/local_dev
mock/
db_scripts.py
query.sql
test.env
target/
dbt_packages/
logs/

!/src/backbone/service_layer/cache
